{% extends 'base.html' %}

{% block content %}

<!-- About us-->

<div class="container" id="about">
  <div class="row">

      <div class="col-md-6">
        <h1 class="about-title animo">Quem escreve?</h1>
        <h6 class="about-text">Somos um casal que gosta de <strong>tecnologia</strong>, explorar <strong>culturas</strong> diferentes, compartilhar dicas de como foi <strong>morar fora</strong>, roteiros de <strong>viagem</strong> e muito mais. </h6>
        <h6 class="about-text">Atualmente moramos no Rio de Janeiro. Já moramos em Portugal, Irlanda e EUA. Já visitamos 15 países <i class="fas fa-globe-americas"></i>.</h6>
      </div>

      <div class="col-md-3" id="about-img-down">
            <img src="/static/img/fora2.png">
      </div>

      <div class="col-md-3" id="about-img-up">
          <img src="/static/img/fora2.png">
      </div>

  </div> <!--row-->
</div> <!--container-->

    
{% endblock %}
