{% extends 'base.html' %}

{% block content %}

{% load static %}

<div class="container article">
	<h2>#{{articles.0.categories}}</h2>
	
</div>

 <!-- Cards -->

 <div class="container">
		<div class="row">		
				<div class="card-deck">
				{% for article in articles %}
	
				<div class="col-md-12">
						<div class="card mb-3" style="max-width: auto;">
							<div class="row no-gutters">
									<div class="col-md-4">
										
											<a href="{% url 'post' article.slug %}"><img src="{{article.image}}" class=" card-img" alt="..."></a>
									</div>
									
									<div class="col-md-8">
										<div class="card-body">
													<h5 class="card-title"><a href="{% url 'post' article.slug %}">{{article.title}}</a></h5>
													<p class="card-date"><small class="text-muted">{{article.updated}}</small></p>
											<p class="card-text">{{article.short_description}}</p>
													<p class="card-btn"><a href="{% url 'post' article.slug %}">leia mais </a></p> 
										</div>
									</div>
							</div>	
						</div>			
				</div>
				{% endfor %}

				</div> <!-- card deck -->
		</div> <!-- row -->
</div><!-- container -->

{% endblock %}
