{% load staticfiles %}

<html lang="pt-br">

  <head>
    <meta charset="utf-8">
    
    <title> FORA DO BOX | Tecnologia, Viagens e imigração</title>
    <!-- Bootstrap core CSS -->
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="shortcut icon" href="static/img/favicon.ico" />
	  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165267649-1"></script>
	  <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="{% static 'js/ga.js' %}"></script> 
    <script src="{% static 'js/facebookSdk.js' %}"></script> 
    <script src="https://connect.facebook.net/signals/config/486707224859203?v=2.9.18&amp;r=stable" async=""></script>
    <script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script>
  </head>

  <body>

<!-- Navbar -->

  <header> 
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
          <a class="navbar-brand" href="/"><img src="{% static 'img/forasvg.svg' %}" width="100" height="110"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-lg-auto">
              {% for category in category %}
              
              <li class="nav-item">
                <a class="nav-link" href="{% url 'pageArticle' category.nameUrl %}">#{{category.name}}</a></i>
              </li>
              {% endfor %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'aboutUs' %}"> <svg class="bi bi-box-arrow-in-up-right" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M14.5 3A1.5 1.5 0 0013 1.5H3A1.5 1.5 0 001.5 3v5a.5.5 0 001 0V3a.5.5 0 01.5-.5h10a.5.5 0 01.5.5v10a.5.5 0 01-.5.5H9a.5.5 0 000 1h4a1.5 1.5 0 001.5-1.5V3z" clip-rule="evenodd"/>
                  <path fill-rule="evenodd" d="M4.5 6a.5.5 0 01.5-.5h5a.5.5 0 01.5.5v5a.5.5 0 01-1 0V6.5H5a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
                  <path fill-rule="evenodd" d="M10.354 5.646a.5.5 0 010 .708l-8 8a.5.5 0 01-.708-.708l8-8a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                </svg> Sobre</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}"> <i class="far fa-envelope" size="5px"></i>  Contato</a>
              </li>

            </ul>           
          </div>
      </nav>
  </header>


            {% block content %}
            {% endblock %}

    <footer>

      <div class="row">
        
        <div class="col-md-12">
          <p>Siga o Fora do box</p>
        </div>
      </div>
        
      <div class="row">
        <div class="col-md-12">
          <ul class="social-icons">
          {% for social in social %}
              <li><a href="{{social.link}}" target="_blank"><i class="{{social.icon}}"></i></a></li>
          {% endfor %}
          </ul>
        </div>
      </div>   
    </footer>

    <div class="row" id="copyright">
        <div class="col-md-12">
            <hr/>
            <p>© 2020 Todos os direitos reservados. Conteúdo protegido por direitos autorais. </p>
            <p><i class="fas fa-heart"></i> FORA DO BOX</p>
          </div>
      </div>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


    </body>

    </html>



    <!-- Global site tag (gtag.js) - Google Analytics -->

