
<!DOCTYPE html>
<html lang="en">

  <head>
		<meta charset="utf-8">
    <title>Lisboaí | Imigração, trabalho e vida em Portugal</title>
    <link rel="shortcut icon" href="img/favicon.ico" />
    <!-- Bootstrap core CSS -->
	 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	 <link href="https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|Roboto+Condensed|Source+Sans+Pro|Staatliches" rel="stylesheet">
	 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <link href="{{ STATIC_URL }}lisboai.css" rel="stylesheet">
  </head>

  <body>
<!-- Navbar -->
    <header> 
 	    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <a class="navbar-brand" href="index.html"> <img src="{% static "logo-preta.png" %}" width="80" height="90"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-lg-auto">
                <li class="nav-item">
                 	<a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                 	<a class="nav-link" href="about.html">Sobre nós</a>
                </li>
                <li class="nav-item">
                 	<a class="nav-link" href="portugal.html">Vida em Portugal</a>
                </li>
                <li class="nav-item">
                 	<a class="nav-link" href="viagens.html">Viagens</a>
                </li>
                <li class="nav-item">
                 	<a class="nav-link" href="contato.html">Contato</a>
                </li>
                <li class="search">
                	<form>
                		<button type="submit" class="search-btn"><i class="fas fa-search"></i></button>
                	</form>                 	
                </li> 
              </ul>           
            </div>
        </nav>
    </header>

  <!-- Busca -->   
    <section id="busca">
        <div class="container">
            <input type="text" name="" value="" placeholder="Buscar">
            <button type="submit" class="search-btn"><i class="fas fa-search"></i></button>
            <p> Resultado da Busca: </p>
        </div>
    </section>

 <!-- Cards -->
<div class="container">
	<div class="row-index">	
        <div class="card-deck">

        	<div class="col-md-12">
	        	<div class="card mb-3 style="max-width: 800px;">
			  		<div class="row no-gutters">
					    <div class="col-md-4">
					      <a href="post.html"><img src="https://d1bvpoagx8hqbg.cloudfront.net/originals/28-razoes-pelas-quais-nunca-deve-ir-portugal-a495019195e75c9ace4acd95cb4e5db5.jpg" class="card-img" alt="..."></a>
					    </div>
					    <div class="col-md-8">
							<div class="card-body">
						        <h5 class="card-title"><a href="post.html">Como imigrar para Portugal ?</a></h5>
						        <p class="card-date"><small class="text-muted">11 fev 2019</small></p>
						        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						        <a href="post.html" class="btn">leia mais</a>	  
						    </div>
			    		</div>
			  		</div>
				</div>
			</div>
      </div> <!-- card deck -->
  </div> <!-- row -->

  	<div class="row-index">	
        <div class="card-deck">

        	<div class="col-md-12">
	        	<div class="card mb-3 style="max-width: 800px;">
			  		<div class="row no-gutters">
					    <div class="col-md-4">
					      <img src="https://d1bvpoagx8hqbg.cloudfront.net/originals/28-razoes-pelas-quais-nunca-deve-ir-portugal-a495019195e75c9ace4acd95cb4e5db5.jpg" class="card-img" alt="...">
					    </div>
					    <div class="col-md-8">
							<div class="card-body">
						        <h5 class="card-title">Como imigrar para Portugal ?</h5>
						        <p class="card-date"><small class="text-muted">11 fev 2019</small></p>
						        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						        <a href="" class="btn">leia mais</a>	  
						    </div>
			    		</div>
			  		</div>
				</div>
			</div>
      </div> <!-- card deck -->
  </div> <!-- row -->

  	<div class="row-index">	
        <div class="card-deck">

        	<div class="col-md-12">
	        	<div class="card mb-3 style="max-width: 800px;">
			  		<div class="row no-gutters">
					    <div class="col-md-4">
					      <img src="https://d1bvpoagx8hqbg.cloudfront.net/originals/28-razoes-pelas-quais-nunca-deve-ir-portugal-a495019195e75c9ace4acd95cb4e5db5.jpg" class="card-img" alt="...">
					    </div>
					    <div class="col-md-8">
							<div class="card-body">
						        <h5 class="card-title">Como imigrar para Portugal ?</h5>
						        <p class="card-date"><small class="text-muted">11 fev 2019</small></p>
						        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						        <a href="" class="btn">leia mais</a>	  
						    </div>
			    		</div>
			  		</div>
				</div>
			</div>
      </div> <!-- card deck -->
  </div> <!-- row -->    
</div><!-- container -->
      
<!-- Footer -->
    <footer>
        <div class="row">
					<div class="col-md-12">
						<p>Siga o lisboaí</p>
					</div>
        </div>
				<div class="row">
					<div class="col-md-12">
						<ul class="social-icons">
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="https://www.instagram.com/canallisboai/"><i class="fab fa-instagram"></i></a></li>
              <li><a href="https://www.youtube.com/channel/UCUDlMwS3MmjjXgmFx7oQ0Zw"><i class="fab fa-youtube"></i></a></li>
						</ul>
					</div>
        </div>     
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <script type="text/javascript" src="js/lisboai.js"></script>

</body>

</html>