{% extends 'base.html' %}

{% block content %}

   <!-- Contato -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <div class="contact-form">
            
            
            <p>Mande sua mensagem ou envie um e-mail para <b>canallisboai@gmail.com</b></p>
            
            

            


        <a href="https://m.me/1950190201680834" class="fa fa-facebook-messenger" target="_blank">Message us on Facebook</a>
<i class="fa fa-facebook-messenger" aria-hidden="true"></i>

      </div>
    </div>
  </div>

{% endblock %}