{% extends 'base.html' %}

{% block content %}

   <!-- Contato -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <div class="contact-form">
            <form action="/send-email" method="post">
            {% csrf_token %}
            <p>Mande sua mensagem ou envie um e-mail para <em>canallisboai@gmail.com</em></p>
            
            <div class="txtb">
              <input type="text" name="name" value="" placeholder="Nome">
            </div>
          
            <div class="txtb">
              <input type="email" name="email" value="" placeholder="E-mail">
            </div>

            <div class="txtb">
              <input type="tel" name="phone" value="" placeholder="Telefone">
            </div>

            <div class="txtb">
              <textarea placeholder="Mensagem" rows="3"></textarea>
            </div>
            <button type="submit" value="submit" class="btn" onclick="">ENVIAR</button>
             </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}