{% extends 'base.html' %}

{% block content %}

   <!-- Contato -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <div class="contact-form">
            
            
            <p>Mande sua mensagem ou envie um e-mail para <b>canallisboai@gmail.com</b></p>
            
            

            


        <a href="https://m.me/1950190201680834"  target="_blank"> <h2><i class="fab fa-facebook-messenger"> </h2></i>Message us on Facebook</a>


      </div>
    </div>
  </div>

{% endblock %}