{% extends 'base.html' %}
{% block content %}

 <!-- Banner -->
 {% load tz %}

<div class="container" id="banner">
	<div class="row">
	{% for article in articles %}
    {% if article.spotlight %}	
		<div class="col-md-6">
			<img src="{{article.image}}" alt="">
			<a href="{% url 'post' article.slug %}"><span>{{article.title}}</span></a>
		</div>
		
		{% endif %}
		{% endfor %}		
	</div>	 
</div>


<!-- Cards -->
 {% for article in articles %}
 {% if article.spotlight == False %}	
<div class="container">
	<div class="row">	

    	<div class="card-deck">

			<div class="col-md-12">
	        	<div class="card mb-3" style="max-width: auto;">
			  		<div class="row no-gutters">
						<div class="col-md-4">
					      <a href="{% url 'post' article.slug %}"><img src="{{article.image}}" class="card-img" alt="..."></a>
						</div>
							
					    <div class="col-md-8">
							<div class="card-body">
						      	<h5 class="card-title"><a href="{% url 'post' article.slug %}">{{article.title}}</a></h5>
						      	<!--<p class="card-date"><small class="text-muted">{{article.updated}}</small></p>-->
								<p class="card-text">{{article.short_description}}</p>
						      	<a href="{% url 'post' article.slug %}" class="btn">leia mais</a>	  
							</div>
						</div>
							
					</div>
				</div>
			</div> 

		</div><!-- card-deck -->
	</div> <!-- row -->
</div> 
{% endif %}	
{% endfor %}	
{% endblock %}
      
