{% extends 'base.html' %}
{% load static %}


{% block content %}

<!-- Post -->

{% for post in post %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <a href="{% url 'pageArticle' post.categories.id %}"><h6> #{{post.categories}}</h6> </a>
    <h1 class="display-4">{{post.title}}</h1>
    <hr/>
    <h5>{{post.short_description}}</h5>
   
   {{category.name}}

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-9">

      <div class="post-autor">
        <p>  Criado por:  {{post.created_by}}
          
            Em: {{post.updated|date:'d-m-Y H:i'}}
          
        </p>
        
      </div>

      


      <div class="post-text">
      {% autoescape off %}
        {{post.body}}
      {% endautoescape %}

      </div>

    </div><!-- col -->
  </div><!-- row -->
</div><!-- container -->
{% endfor %}

{% endblock %}
