{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Post -->


{% for post in post %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <a href="{% url 'pageArticle' post.categories.nameUrl %}"><h6 class="category-name"> #{{post.categories}}</h6> </a>
    <h1 class="display-4">{{post.title}}</h1>
    <hr/>
    <h5>{{post.short_description}}</h5>
    
     <script>
    
     </script>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-9">

      <div class="post-autor">
        <p>  <strong> Criado por: </strong>  {{post.created_by}} |
          
          <strong> Em: </strong>  {{post.updated|date:'d-m-Y'}}
          
        </p>

        <iframe id="buttonFc" width="77" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        <div class="fb-share-button" id="button-fb"> </div> 
        
      </div>

      <div class="post-text">
      {% autoescape off %}
        {{post.body}}
      {% endautoescape %}

      </div>

    </div><!-- col -->
  </div><!-- row -->
</div><!-- container -->

<script>

    var key = []
    var currentUrl = document.URL;
    var key = ['url','type','title','description','image']
    var values = [currentUrl,'article','{{post.title}}','{{post.short_description}}','{{post.image}}']
      
    for(var i=0;i < key.length; i++){

      var link = document.createElement('meta');
      link.setAttribute('property', 'og:'+ key[i]);
      link.content = values[i];
      document.getElementsByTagName('head')[0].appendChild(link);
  }

    var urlEnconded = encodeURIComponent(currentUrl);
    var frameFacebook = document.getElementById('buttonFc');
      frameFacebook.src = "https://www.facebook.com/plugins/share_button.php?href="+ urlEnconded + "&layout=button&size=large&width=77&height=28&appId";
        
    var test = document.getElementById('button-fb');
      
</script>

<script src="{% static 'js/setMeta.js' %}"></script>

{% endfor %}
<div class="container"> 
<div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="5" data-width=""></div>
</div>
{% endblock %}
