/* ------------------------------- Navbar -------------------------------*/
body {
  width: 100%;
  height: 100%;
}

.navbar {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  background: #FFFFFF;
  padding-left: 120px;
}

.navbar img {
  width: 65px;
  height: 75px;
}

.navbar-light .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 0.7em;
  color: #000000;
  display: block;
  padding: 14px 20px;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: #d5b59c;
}

.navbar.scrolled {
  background: #FFFFFF;
}

.navbar.scrolled img {
  width: 55px;
  height: 65px;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}

.navbar-light .navbar-toggler {
  border: none;
  outline: none;
}

.search-txt {
  height: 25px;
  width: 150px;
  margin-left: 20px;
  border: none;
  border-bottom: 1px solid #d5b59c;
  opacity: 0.3;
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
}

.search-txt:hover {
  border: none;
  border-bottom: 2px solid #d5b59c;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.search-txt:focus {
  outline: none;
  border: 2px solid #d5b59c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.search-btn {
  color: #000000;
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.search-btn:hover {
  color: #d5b59c;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  border: none;
  padding: 0;
}

.dropdown-item {
  text-transform: uppercase;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 0.7em;
  color: #000000;
  text-align: center;
  padding: 1em;
}

.dropdown-item:hover {
  color: #d5b59c;
  background: #FFFFFF;
}

/* ----------------------------- Banner ------------------------------------*/
#banner {
  max-width: 80%;
  height: auto;
  margin: 0px auto;
  padding: 150px 0px 0px 0px;
}

#banner img {
  width: 100%;
  height: 60vh;
  max-height: 60vh;
  height: 60vh;
  margin-bottom: 120px;
  -webkit-filter: grayscale(50);
          filter: grayscale(50);
  position: relative;
  opacity: 0.7;
}

#banner a span {
  text-transform: uppercase;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 1.5em;
  color: #3d3f3f;
  text-align: center;
  max-width: 300px;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #A9F5D0;
}

#banner a span:hover {
  color: #3d3f3f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1.55em;
}

#banner h5 {
  text-transform: uppercase;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 0.7em;
  color: #000000;
  text-align: center;
  padding: 50px 0 10px 0;
}

#banner h4 {
  text-transform: uppercase;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 0.5em;
  color: #000000;
  text-align: center;
}

@media (max-width: 768px) {
  .navbar {
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    background: #FFFFFF;
    padding-left: 20px;
  }
  #banner img {
    width: 100%;
    max-height: auto;
  }
  #banner a span {
    width: 100%;
    top: 38%;
  }
}

/* ------------------------------- Cards -----------------------------------*/
.row-index .col-md-12 {
  padding: 20px 20px;
}

.card-deck {
  position: relative;
  -webkit-animation: mymove 3s;
  -webkit-animation-fill-mode: forwards;
  animation: mymove 3s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes mymove {
  from {
    top: 0px;
  }
  to {
    top: -40px;
  }
}

@keyframes mymove {
  from {
    top: 0px;
  }
  to {
    top: -40px;
  }
}

.card {
  border: none;
  padding: 30px;
}

.card-title {
  text-transform: uppercase;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 1em;
  color: #000000;
  text-align: center;
  padding-top: 20px;
}

.card-title a {
  color: #424242;
  text-decoration: none;
}

.card-title a:hover {
  color: #424242;
  text-decoration: none;
}

.card-date {
  color: #000000;
  font-weight: bold;
  font-size: 0.8em;
  letter-spacing: 0.2em;
  text-align: center;
  padding-bottom: 30px;
}

.card-text {
  font-size: .8rem;
  font-family: 'Century Gothic', sans-serif;
}

.card-body .btn {
  color: black;
  text-transform: uppercase;
  font-family: 'Century Gothic', sans-serif;
  font-size: .6em;
  font-weight: bold;
  letter-spacing: 0.2em;
}

.card-body .btn:hover {
  color: #d5b59c;
}

.card-body .btn:hover {
  color: #d5b59c;
}

/* --------------------------------- Footer -----------------------------------*/
footer {
  text-transform: uppercase;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 0.8em;
  color: #000000;
  background: #FFFFFF;
  text-align: center;
  padding-top: 50px;
}

footer .social-icons {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

footer .social-icons a {
  color: #000000;
  padding: 25px;
  font-size: 2em;
}

footer .social-icons a:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 2.1em;
}

/* ------------------------------------- About --------------------------------*/
#about {
  text-align: center;
  padding: 150px 0 90px 0;
  position: relative;
}

#about-img {
  background: cover;
  padding: 0px 0 70px 20px;
  min-height: 30vh;
  text-align: center;
  position: relative;
  -webkit-filter: sepia(60%);
          filter: sepia(60%);
}

.rounded-circle {
  height: 13em;
}

.about-title {
  text-transform: uppercase;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 0.9em;
  color: #000000;
  padding: 40px 0;
}

.about-text {
  font-family: 'Century Gothic', sans-serif;
  font-size: 0.9em;
  text-align: justify;
}

@media (max-width: 768px) {
  #about .col-md-6 {
    width: 100%;
    height: auto;
  }
}

/* ------------------------------------- Post --------------------------------*/
.jumbotron-fluid {
  padding-top: 200px;
  color: #424242;
  background: #A9F5D0;
}

.jumbotron-fluid h1 {
  text-transform: uppercase;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 2.2em;
  color: black;
}

.post-autor {
  text-transform: uppercase;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  font-size: 0.7em;
  color: #424242;
}

.post-date {
  font-size: .75rem;
  color: #424242;
}

/* ------------------------------------- Viagens --------------------------------*/
#viagem {
  text-transform: uppercase;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 0.9em;
  color: #d5b59c;
  padding: 200px 0 100px 0;
}

/* ------------------------------------- Portugal --------------------------------*/
#portugal {
  text-transform: uppercase;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 0.9em;
  color: #d5b59c;
  padding: 200px 0 100px 0;
}

/* ------------------------------------- Busca --------------------------------*/
#busca {
  text-transform: uppercase;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 0.9em;
  color: #d5b59c;
  padding: 200px 0 100px 80px;
}

#busca input {
  width: 300px;
  padding: 5px;
  margin-bottom: 15px;
}

/* ------------------------------------- Contato --------------------------------*/
.contact-form {
  text-transform: uppercase;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 0.7em;
  color: #000000;
  margin: 0 auto;
  max-width: 50%;
  height: auto;
  padding: 240px 0 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.contact-form p em {
  letter-spacing: 0.1em;
}

.contact-form button {
  text-transform: uppercase;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 1.2em;
  color: #000000;
  width: 100%;
  background: #FFFFFF;
  text-align: center;
  margin-bottom: 80px;
}

.contact-form button:hover {
  background: #A9F5D0;
}

.txtb input, .txtb textarea {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.3em;
  margin-top: 20px;
  padding: 5px;
  margin: 10px 0;
  background: #d5b59c;
}
/*# sourceMappingURL=lisboai.css.map */