@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');
$colorPurple: #8a6ca0;
$colorViolet: #9400d3; 

@mixin fontType($font-size){
    text-transform: uppercase;
	font-family: 'Century Gothic', sans-serif;
	font-weight: bold;
    letter-spacing: 0.2em;
    font-size: $font-size;
}

/* ------------------------------- Navbar -------------------------------*/
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: 0;
}

body{
	width: 100%;
    height: auto;
    font-family: 'Century Gothic', sans-serif;
    overflow-x: hidden;
}


.navbar {
	transition: 0.5s all;
	background: #FFFFFF;
    padding-left: 120px;
    img{
	    width: 65px;
	    height: 75px;
    }
}

.navbar-light .navbar-nav .nav-item .nav-link{
    @include fontType(0.7em);
    color: #000000;
	display: block;
    margin: 14px 10px;
    &:hover{
        color: $colorPurple;
    }
}

.navbar.scrolled{
	background: #FFFFFF;
    img {
        width: 55px;
        height: 65px;
        transition: 0.6s all;
    }
}
.navbar-light .navbar-toggler{
	border:none;
	outline: none;
}

.search-txt {
    height: 25px;
    width: 150px;
    margin-left: 20px;
    border: none;
    border-bottom: 1px solid $colorPurple;
    opacity: 0.3;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
    &:hover{
        border: none;
        border-bottom: 2px solid $colorPurple;
        transition: 0.2s all;
    }
    &:focus{
        outline: none;
        border: 2px solid $colorPurple;
        transition: 0.3s;
    }
}

/* ----------------------------- Banner ------------------------------------*/
#banner{
    max-width: 80%;
    height: auto;
    margin: 0px auto;
    padding: 150px 0px 0px 0px;
    img{
        width: 100%;
        height: 60vh;
        margin-bottom: 120px;
        position: relative;
        opacity: 0.7;
    }
    a span{
        font-family: 'Oswald', sans-serif;
        font-size: 0.8em;
        text-transform: uppercase;
        text-align: inicial;
        color: #ffffff; 
        background: rgba(0, 0, 0, 0.7);
        max-width: 300px;
        position: absolute;
        top: 35%;
        left: 15;
        box-sizing: border-box;
        padding-left: 10px;
            &:hover{
                color: rgb(203, 202, 202);
            }
    }
}

@media (max-width: 768px){
	.navbar {
        transition: 0.5s all;
        background: #FFFFFF;
        padding-left: 20px;
    }
	#banner {
        img{
            width: 100%;
            max-height: 40vh;
            margin-bottom: 50px;
        }
        a span{
            top: 35%;
            left:5%;
            font-size: 0.7em;
        }
    }
}
/* ------------------------------- Cards -----------------------------------*/

.card-deck{
	position: relative;
    -webkit-animation: mymove 3s;
    -webkit-animation-fill-mode: forwards; 
    animation: mymove 3s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes mymove {
    from {top: 0px;}
    to {top: -40px;}
}

@keyframes mymove {
    from {top: 0px;}
    to {top: -40px;}
}

.card{
    background: rgba(228, 228, 228, 0.235);
    border: none;
    padding: 30px;
}


.card-body{
    margin-top: 50px;
    text-align: center;
  }


.card-categories{
    text-transform: lowercase;
	font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 0.8em;
    color: #fff;
    position: relative;
    span {
        position:relative;
        top: 50px;
        left: 70%;
        background: $colorViolet;
        padding: 5px;
        box-shadow: 5px 5px $colorPurple;
    }
}

.card-title a{
        font-family: 'Oswald', sans-serif;
        letter-spacing: 0.1;
        text-align: center;
        font-size: 1.2em;
        font-weight: lighter;
        color: #000;
        text-decoration: none;
        &:hover{
            color: #878787;
            text-decoration: none;
        }
}

.card-date{
	color: #000000;
	font-weight: bold;
	font-size: 0.8em;
	letter-spacing: 0.2em;
	text-align: center;
}

.card-text{
    font-size: 1em;
    padding-bottom: 30px;
}

.card-btn a{
    color: black;
    text-decoration: none;
	text-transform: uppercase;
	font-size: 0.8em;
    letter-spacing: 0.1em;
    &:hover{
        color: $colorPurple;
        font-weight: bold;
    }
}

.card-img{
    height: 250px;
}
@media (max-width: 768px){
    .card-img{
        width: 100%;
        height: 250px;
    }
    .card-body{
        margin-top: 10px;
    }
}

/* --------------------------------- Footer -----------------------------------*/
footer{
    @include fontType(0.8em);
    background: #FFFFFF;
    text-align: center;
    margin-top: 50px;
}

footer .social-icons{
        list-style: none;
        display: inline-flex;
        padding-inline-start: 0;
        a {
            color: #000000;
            padding: 25px;
            font-size: 2em;
            &:hover{
            transition: 0.2s;
            font-size: 2.1em; 
            }
        }
}

#copyright {
    color: #b0a2c1;
    margin-top: 30px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

/* ------------------------------------- About --------------------------------*/
#about{
	text-align: center;
    padding: 150px 0 150px 0;
    position: relative;
}

#about-img-down{
    top: 100;
    position: relative;
}

.about-title{
	@include fontType(0.9em);
	margin: 50px 0 50px 0;
}

.about-name {
    padding-bottom: 30px;
    letter-spacing: 0.1em;
}

.about-text{
	font-size: 1.1em;
    text-align: center;
    padding-bottom: 30px;
}

.animo {
    display:inline-block;
    color:#474e51;
    position:relative;
    cursor:pointer
}
.animo::after{
    content:'';
    position:absolute;
    width:80%;
    transform:scaleX(1);
    height:3px;
    bottom:-10;
    left:10;
    background-color:$colorViolet;
    transform-origin:bottom left;
    transition:transform .3s ease-in-out
}
.animo:hover::after{
    transform:scaleX(0);
    transform-origin:bottom right
}
    

@media (max-width: 768px){
    #about .col-md-6{
        width: 100%;
        height: auto;
    }
}
/* ------------------------------------- Post --------------------------------*/

.jumbotron-fluid{
	padding-top: 200px;
    color: #ffffff;
    background: #9400d3;
    box-shadow: 15px 10px $colorPurple;
    h1{
    font-family: 'Oswald', sans-serif;
    font-size: 2.1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    }
    a {
        color: #fff;
        margin-bottom: 20px;
        &:hover{
            text-decoration: none;
        } 
    }
}

.category-name{
    @include fontType(0.7em);
}

.post-autor{
    text-transform: lowercase;
	font-family: 'Century Gothic', sans-serif;
    font-weight: bold;
    font-size:0.8em;
    color: $colorPurple;
    margin-bottom: 50px;
}

.post-date{
	font-size: .75rem;
	color: #424242;
}
    
/* ------------------------------------- Article --------------------------------*/
.article{
    @include fontType(0.9em);
    padding: 200px 0 100px 0;
    color: $colorPurple;
    font-family: 'Oswald', sans-serif;
}

/* ------------------------------------- Contato --------------------------------*/
.container-contact {
    width: 100%;
    max-width: 1120px;
    height: auto;
    margin: 0 auto; 
    align-items: center;
    margin-top: 15%;
    align-items: center;
    justify-content: space-between;
}

.form-section{
    @include fontType(0.7em);
    text-align: center;
    padding-bottom: 20px;
}

form{
    margin: 0 auto; 
    align-items: center;
    width: 60%;
    height: auto;
    border: none;
    background: rgb(238, 238, 238);
    padding: 30px;
    border: 1px solid $colorPurple;
    box-shadow: 10px 10px $colorPurple;
}

input, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  form  button{
    background: $colorViolet;
    color: white;
    border: none;
    padding: 5px;
  }