/* ------------------------------- Navbar -------------------------------*/
* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
}

body {
  width: 100%;
  height: auto;
  font-family: 'Century Gothic', sans-serif;
  overflow-x: hidden;
}

.navbar {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  background: #FFFFFF;
  padding-left: 120px;
}

.navbar img {
  width: 65px;
  height: 75px;
}

.navbar-light .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 0.7em;
  color: #000000;
  display: block;
  margin: 14px 10px;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: #8a6ca0;
}

.navbar.scrolled {
  background: #FFFFFF;
}

.navbar.scrolled img {
  width: 55px;
  height: 65px;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}

.navbar-light .navbar-toggler {
  border: none;
  outline: none;
}

.search-txt {
  height: 25px;
  width: 150px;
  margin-left: 20px;
  border: none;
  border-bottom: 1px solid #8a6ca0;
  opacity: 0.3;
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
}

.search-txt:hover {
  border: none;
  border-bottom: 2px solid #8a6ca0;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.search-txt:focus {
  outline: none;
  border: 2px solid #8a6ca0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* ----------------------------- Banner ------------------------------------*/
#banner {
  max-width: 80%;
  height: auto;
  margin: 0px auto;
  padding: 150px 0px 0px 0px;
}

#banner img {
  width: 100%;
  height: 60vh;
  max-height: 60vh;
  margin-bottom: 120px;
  position: relative;
  opacity: 0.7;
}

#banner a span {
  font-family: 'Oswald', sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
  text-align: inicial;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.7);
  max-width: 300px;
  position: absolute;
  top: 35%;
  left: 15;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 10px;
}

#banner a span:hover {
  color: #cbcaca;
}

@media (max-width: 768px) {
  .navbar {
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    background: #FFFFFF;
    padding-left: 20px;
  }
  #banner img {
    width: 100%;
    max-height: auto;
  }
  #banner a span {
    width: 100%;
    top: 20%;
    left: 9%;
  }
}

/* ------------------------------- Cards -----------------------------------*/
.card-deck {
  position: relative;
  -webkit-animation: mymove 3s;
  -webkit-animation-fill-mode: forwards;
  animation: mymove 3s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes mymove {
  from {
    top: 0px;
  }
  to {
    top: -40px;
  }
}

@keyframes mymove {
  from {
    top: 0px;
  }
  to {
    top: -40px;
  }
}

.card {
  background: rgba(228, 228, 228, 0.235);
  border: none;
}

.card-body {
  margin-top: 50px;
  text-align: center;
}

.card-categories {
  text-transform: lowercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-size: 0.8em;
  color: #fff;
  position: relative;
}

.card-categories span {
  position: relative;
  top: 50px;
  left: 70%;
  background: #9400d3;
  padding: 5px;
  -webkit-box-shadow: 5px 10px #8a6ca0;
          box-shadow: 5px 10px #8a6ca0;
}

.card-title a {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.1;
  text-align: center;
  font-size: 1.2em;
  font-weight: lighter;
  color: #000;
  text-decoration: none;
}

.card-title a:hover {
  color: #878787;
  text-decoration: none;
}

.card-date {
  color: #000000;
  font-weight: bold;
  font-size: 0.8em;
  letter-spacing: 0.2em;
  text-align: center;
  padding-bottom: 30px;
}

.card-text {
  font-size: 1em;
  padding-bottom: 30px;
}

.card-btn a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.1em;
}

.card-btn a:hover {
  color: #8a6ca0;
  font-weight: bold;
}

/* --------------------------------- Footer -----------------------------------*/
footer {
  text-transform: uppercase;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 0.8em;
  background: #FFFFFF;
  text-align: center;
  margin-top: 50px;
}

footer .social-icons {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

footer .social-icons a {
  color: #000000;
  padding: 25px;
  font-size: 2em;
}

footer .social-icons a:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 2.1em;
}

#copyright {
  color: #b0a2c1;
  margin-top: 30px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

/* ------------------------------------- About --------------------------------*/
#about {
  text-align: center;
  padding: 150px 0 150px 0;
  position: relative;
}

#about-img-down {
  top: 100;
  position: relative;
}

.about-title {
  text-transform: uppercase;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 0.9em;
  margin: 50px 0 50px 0;
}

.about-name {
  padding-bottom: 30px;
  letter-spacing: 0.1em;
}

.about-text {
  font-size: 1.1em;
  text-align: center;
  padding-bottom: 30px;
}

.animo {
  display: inline-block;
  color: #474e51;
  position: relative;
  cursor: pointer;
}

.animo::after {
  content: '';
  position: absolute;
  width: 80%;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  height: 3px;
  bottom: -10;
  left: 10;
  background-color: #9400d3;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.animo:hover::after {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

@media (max-width: 768px) {
  #about .col-md-6 {
    width: 100%;
    height: auto;
  }
}

/* ------------------------------------- Post --------------------------------*/
.jumbotron-fluid {
  padding-top: 200px;
  color: #ffffff;
  background: #9400d3;
  -webkit-box-shadow: 15px 10px #8a6ca0;
          box-shadow: 15px 10px #8a6ca0;
}

.jumbotron-fluid h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 2.1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.jumbotron-fluid a {
  color: #fff;
  margin-bottom: 20px;
}

.jumbotron-fluid a:hover {
  text-decoration: none;
}

.category-name {
  text-transform: uppercase;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 0.7em;
}

.post-autor {
  text-transform: lowercase;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  font-size: 0.8em;
  color: #8a6ca0;
  margin-bottom: 50px;
}

.post-date {
  font-size: .75rem;
  color: #424242;
}

/* ------------------------------------- Article --------------------------------*/
.article {
  text-transform: uppercase;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 0.9em;
  padding: 200px 0 100px 0;
  color: #8a6ca0;
  font-family: 'Oswald', sans-serif;
}

/* ------------------------------------- Contato --------------------------------*/
.contact {
  text-transform: uppercase;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 0.7em;
  margin: 0 auto;
  max-width: 50%;
  height: auto;
  margin-top: 240px;
  margin-bottom: 100px;
  padding: 40px;
  text-align: center;
}

.contact p {
  letter-spacing: 0.1em;
  margin-bottom: 30px;
}

.contact a {
  color: #9400d3;
}

.contact a:hover {
  color: #8a6ca0;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */