
$colorPurple: #8a6ca0;
$colorViolet: #9400d3; 

@mixin fontType($font-size){
    text-transform: uppercase;
	font-family: 'Century Gothic', sans-serif;
	font-weight: bold;
    letter-spacing: 0.2em;
    font-size: $font-size;
}

/* ------------------------------- Navbar -------------------------------*/
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: 0;
}

body{
	width: 100%;
    height: auto;
    font-family: 'Century Gothic', sans-serif;
    overflow-x: hidden;
}


.navbar {
	transition: 0.5s all;
	background: #FFFFFF;
    padding-left: 120px;
    img{
	    width: 65px;
	    height: 75px;
    }
}

.navbar-light .navbar-nav .nav-item .nav-link{
    @include fontType(0.7em);
    color: #000000;
	display: block;
    margin: 14px 10px;
    &:hover{
        color: $colorPurple;
    }
}

.navbar.scrolled{
	background: #FFFFFF;
    img {
        width: 55px;
        height: 65px;
        transition: 0.6s all;
    }
}
.navbar-light .navbar-toggler{
	border:none;
	outline: none;
}

.search-txt {
    height: 25px;
    width: 150px;
    margin-left: 20px;
    border: none;
    border-bottom: 1px solid $colorPurple;
    opacity: 0.3;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
    &:hover{
        border: none;
        border-bottom: 2px solid $colorPurple;
        transition: 0.2s all;
    }
    &:focus{
        outline: none;
        border: 2px solid $colorPurple;
        transition: 0.3s;
    }
}

/* ----------------------------- Banner ------------------------------------*/
#banner{
    max-width: 80%;
    height: auto;
    margin: 0px auto;
    padding: 150px 0px 0px 0px;
    img{
        width: 100%;
        height: 60vh;
        max-height: 60vh;
        margin-bottom: 120px;
        filter: grayscale(50);
        position: relative;
        opacity: 0.7;
    }
    a span{
        font-family: 'Oswald', sans-serif;
        font-size: 1.8em;
        text-transform: uppercase;
        
        color: #ffffff; 
        text-align: center;
        max-width: 300px;
        position: absolute;
        top: 25%;
        left: 25%;
        box-sizing: border-box;
        background: $colorViolet;
            &:hover{
                color: rgb(203, 202, 202);
            }
    }
}

@media (max-width: 768px){
	.navbar {
        transition: 0.5s all;
        background: #FFFFFF;
        padding-left: 20px;
    }
	#banner {
        img{
            width: 100%;
            max-height: auto;
        }
        a span{
            width: 100%;
            top: 20%;
            left:9%;
        }
    }
}
/* ------------------------------- Cards -----------------------------------*/

.card-deck{
	position: relative;
    -webkit-animation: mymove 3s;
    -webkit-animation-fill-mode: forwards; 
    animation: mymove 3s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes mymove {
    from {top: 0px;}
    to {top: -40px;}
}

@keyframes mymove {
    from {top: 0px;}
    to {top: -40px;}
}

.card{
    border: 1px solid $colorPurple;
    padding: 30px;
}

.card-title{
    @include fontType(1.0em);
	text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    a{
        color: #000;
        text-decoration: none;
        &:hover{
            color: #878787;
            text-decoration: none;
        }
    }
}

.card-date{
	color: #000000;
	font-weight: bold;
	font-size: 0.8em;
	letter-spacing: 0.2em;
	text-align: center;
	padding-bottom: 30px;
}
.card-text{
	font-size: .9rem;
}

.card-body{
    text-align: center;
  }

.card-body .btn{
	color: black;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: .7em;
	letter-spacing: 0.2em;
    &:hover{
        color: $colorViolet;
    }
}



/* --------------------------------- Footer -----------------------------------*/
footer{
    @include fontType(0.8em);
    background: #FFFFFF;
    text-align: center;
    margin-top: 50px;
}

footer .social-icons{
        list-style: none;
        display: inline-flex;
        padding-inline-start: 0;
        a {
            color: #000000;
            padding: 25px;
            font-size: 2em;
            &:hover{
            transition: 0.2s;
            font-size: 2.1em; 
            }
        }
}

#copyright {
    color: #b0a2c1;
    margin-top: 30px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

/* ------------------------------------- About --------------------------------*/
#about{
	text-align: center;
    padding: 150px 0 90px 0;
    position: relative;
}

#about-img{
	background: cover;
	padding: 0px 0 70px 20px;
	min-height: 30vh;
    text-align: center;
    position: relative;
    filter: sepia(60%);
}

.rounded-circle{
	height: 13em;
}

.about-title{
	@include fontType(0.9em);
	padding: 40px 0;
}

.about-text{
	font-family: 'Oswald', sans-serif;
	font-size: 0.9em;
    text-align: justify;
}

@media (max-width: 768px){
    #about .col-md-6{
        width: 100%;
        height: auto;
    }
}
/* ------------------------------------- Post --------------------------------*/

.jumbotron-fluid{
	padding-top: 200px;
    color: #ffffff;
    background: #9400d3;
    h1{
    font-family: 'Oswald', sans-serif;
    font-size: 2.1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    }
    a {
        color: #fff;
        margin-bottom: 20px;
        &:hover{
            text-decoration: none;
        } 
    }
}

.category-name{
    @include fontType(0.7em);
}

.post-autor{
    text-transform: lowercase;
	font-family: 'Century Gothic', sans-serif;
    font-weight: bold;
    font-size:0.8em;
    color: $colorPurple;
    margin-bottom: 50px;
}

.post-date{
	font-size: .75rem;
	color: #424242;
}
    
/* ------------------------------------- Article --------------------------------*/
.article{
    @include fontType(0.9em);
    padding: 200px 0 100px 0;
    color: $colorPurple;
    font-family: 'Oswald', sans-serif;
}

/* ------------------------------------- Contato --------------------------------*/

.contact{
    @include fontType(0.7em);
    margin: 0 auto;
    max-width: 50%;
    height: auto;
    margin-top: 240px;
    margin-bottom: 100px;
    padding: 40px;
    text-align: center;
    p{
        letter-spacing: 0.1em;
        margin-bottom: 30px;
    }
    a{
        color: $colorViolet;
        &:hover {
            color: $colorPurple;
            text-decoration: none;
        }
    }
}

